.button {
  cursor: pointer;
  display: inline;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: coral;
  color: #fff;
  border: none;
//  margin-right: 15px;
}

.button:hover, .button:active {
  background-color: #ff3b11;

}

.logout-button{
}
